repos:
-   repo: https://github.com/humitos/mirrors-autoflake
    hooks:
    -   id: autoflake
        args:
        - --remove-all-unused-imports
        - --in-place
    rev: v1.3
-   repo: https://github.com/asottile/seed-isort-config
    rev: v2.2.0
    hooks:
    -   id: seed-isort-config
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
    -   id: isort
        additional_dependencies: [toml]
-   repo: https://github.com/psf/black
    rev: 23.9.1
    hooks:
      - id: black
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910
    hooks:
    -   id: mypy
        exclude: ^docs/
-   repo: https://github.com/pycqa/flake8
    rev: 3.9.2
    hooks:
    -   id: flake8
        exclude: ^docs/
-   hooks:
      -   id: version-match-check
          name: version-match-check
          entry: poetry run python scripts/check_version_match.py
          language: system
          pass_filenames: false
    repo: local
