name: release

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    environment: CD

    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

    - name: Set up Python
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
      with:
        python-version: 3.8
        
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip poetry
        poetry config virtualenvs.create false
        poetry install

    - name: Check codestyle
      run: |
        pre-commit run --all

    - name: Run tests
      run: |
        PYTHONPATH=cognite/transformations_cli poetry run pytest  -v  --cov-report xml:coverage.xml --cov=cognite/transformations_cli
        coverage xml
      env:
          CLIENT_ID: ${{secrets.EXTRACTORS_CLIENT_ID}}
          CLIENT_SECRET: ${{secrets.EXTRACTORS_CLIENT_SECRET}}
          JETFIRETEST_API_KEY: ${{secrets.JETFIRETEST_API_KEY}}

    - uses: codecov/codecov-action@b9fd7d16f6d7d1b5d2bec1a2887e65ceed900238 # v4
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml

    - name: Build package
      run: poetry build
    
    - name: Build docs
      run: cd docs && make html

    - name: Release to PyPI
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
      # fails if version is already published, we don't ignore that and keep it visible
      run: twine upload --verbose dist/*

    - id: parse_tag_version
      name: "Parse version for auto tag"
      run: |
        echo "::set-output name=cli_version::$(sed -n -e "/^__version__/p" cognite/transformations_cli/__init__.py | cut -c 16- | sed -e 's/^"//' -e 's/"$//')"

    - name: Push tag for the new version
      id: tag_version
      uses: mathieudutour/github-tag-action@a22cf08638b34d5badda920f9daf6e72c477b07b # v6.2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        # TODO: maybe fail the pipeline if tag already exists for better visibility
        custom_tag: ${{ steps.parse_tag_version.outputs.cli_version }}

  publish_to_dockerhub:
    runs-on: ubuntu-latest
    environment: CD
    permissions:
      contents: read
      packages: write
    steps:
    - name: "Checkout repository"
      uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

    - name: "Set up Docker Buildx"
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3
      with:
        install: true

    - name: "Log in to the Container registry"
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

    - id: parse_version
      name: "Parse version"
      run: |
        echo "::set-output name=cli_version::$(sed -n -e "/^__version__/p" cognite/transformations_cli/__init__.py | cut -c 16- | sed -e 's/^"//' -e 's/"$//')"
      
    - name: "Echo version"
      run: |
        echo ${{ steps.parse_version.outputs.cli_version }}

    - name: "Build and push Docker image"
      uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
      with:
        context: .
        push: true
        file: ./Dockerfile
        # TODO: maybe fail the step if tag exists
        tags: cognite/transformations-cli:${{ steps.parse_version.outputs.cli_version }}

    - name: "Build and push Docker image for Azure Pipelines"
      uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
      with:
        context: .
        push: true
        file: ./Dockerfile-azure-pipelines
        tags: cognite/transformations-cli:${{ steps.parse_version.outputs.cli_version }}-azure     
